@tailwind components;

.card-news {
    @apply bg-white text-black flex flex-col gap-[10px] p-[10px];
    img {
        @apply w-full h-[150px] object-cover;
    }
   .card-body {
        @apply flex flex-col gap-[10px];
        .text-date {
            label {
                @apply text-neutral-500 font-normal text-xs;
            }
        }
        .text-title {
            h5 {
                @apply font-semibold text-base text-neutral-800;
            }
        }
        .text-content {
            p {
                @apply font-normal text-sm text-neutral-600;
            }
        }
        .text-readmore {
            a {
                @apply text-blue-500 font-semibold text-sm;
            }
        }
   }
}

.card-main-news {
    @apply bg-white text-black flex p-[10px] gap-[40px];
    img {
        @apply h-[350px] w-1/2 object-contain;
    }
   .card-body {
        @apply flex-1 flex flex-col gap-[10px];
        .text-date {
            label {
                @apply text-neutral-500 font-normal text-xs;
            }
        }
        .text-title {
            h5 {
                @apply font-bold text-2xl text-neutral-800;
            }
        }
        .text-content {
            p {
                @apply font-normal text-base text-neutral-600 mb-[10px];
            }
        }
        .text-readmore {
            a {
                @apply text-blue-500 font-semibold text-sm;
            }
        }
   }
}

.admin-card-wrapper {
    .our-product-card {
        @apply rounded cursor-pointer relative;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        img {
            @apply w-full rounded object-cover;
        }
        .card-overlay {
            @apply visible bg-black rounded-lg opacity-100 h-full w-full absolute z-[2] top-0 left-0 flex flex-col justify-center items-center gap-[4px]; 
            transition: .3s linear;
            background: rgba(0, 0, 0, .4);
            input {
                @apply w-full text-center !h-[30px] !rounded-none;
                &.name {
                    @apply text-[12px]/[14px] !font-bold uppercase;
                }
                &.description {
                    @apply !rounded-none;
                    @apply text-[12px]/[14px] !font-bold uppercase;
                }
            }
            .change-picture {
                @apply pt-[20px] flex flex-col justify-center gap-[4px];
                label {
                    @apply bg-primary text-white px-[10px] text-sm cursor-pointer text-center;
                }
            }
        }
    }
}