@tailwind components;
.rs-modal-wrapper {
    display: flex;
    align-items: center;
    .rs-modal {
        margin: 0 auto 0 auto !important;
    }
}
.my-modal {
    .rs-modal-content {
        @apply rounded-sm;
        .rs-modal-header {
            .rs-modal-title {
                @apply text-neutral-700;
            }
        }
        .rs-modal-body {
            @apply text-neutral-700;
        }
    }  
  }
  
  .my-modal-backdrop {
    background-color: #000c !important;
    &.rs-anim-fade {
        -webkit-transition: opacity 0.05 ease-in  !important;
        transition: opacity 0.05 ease-in !important;
    }
  }

.modal-full {
    @apply !w-full;
    .rs-modal-dialog {
        @apply w-full;
        .rs-modal-content {
            @apply h-screen min-h-full;
            .rs-modal-body {
                @apply overflow-y-auto !max-h-[95%];
            }
        }
      }
}

.modal-product {
    @apply !w-[765px];
    &.view {
        .rs-modal-content {
            .rs-modal-header {
                button {
                    z-index: 3;
                }
            }
            .rs-modal-body {
                @apply p-0 m-0;
            }
        }

    }
    .rs-modal-body {
        h2 {
            @apply text-neutral-900 uppercase font-bold;
        }
        h5 {
            @apply text-neutral-900 uppercase font-medium;
        }
        p {
            @apply text-neutral-900 text-[12px]/[16px];
        }
    }
}
