@tailwind base;
@tailwind components;
@tailwind utilities;

.admin-careers-hero-section {
    @apply py-[100px] px-[100px] flex flex-col justify-center items-center relative text-neutral-800 ;
    background: url("/images/backgrounds/parallax-office.jpg") no-repeat;
    background-position: center;
    &::before {
        content: '';
        @apply absolute bg-neutral-900 opacity-60 w-full h-full z-[2];
    }
    .hero-container {
        @apply z-10 text-center flex flex-col gap-[10px] w-full;
        .text-welcome {
            input {
                @apply !text-4xl !text-white !font-bold bg-transparent text-center w-full;
            }
        }
        .text-title {
            @apply bg-primary py-[20px] px-[50px];
            input {
                @apply !text-5xl !text-white !font-medium bg-transparent text-center w-full;
            }
        }
    }
}
.admin-careers-location-section {
    @apply p-[20px] flex flex-col justify-center items-center relative text-neutral-800 ;
    background: url("/images/backgrounds/parallax-indonesian-map.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: '';
        @apply absolute bg-neutral-50 opacity-75 w-full h-full z-[2];
    }
    .area-container {
        @apply flex flex-col gap-[80px] items-center justify-center text-center z-[3] w-full;
        .title-subcontainer {
            @apply flex flex-col gap-[10px] items-center justify-center text-center w-full;
            input {
                @apply text-center w-full;
                &.title {
                    @apply !text-3xl !font-medium;
                }
                &.subtitle-1 {
                    @apply !text-7xl !text-primary !font-bold !h-[70px];
                }
                &.subtitle-2 {
                    @apply !text-base !text-neutral-600;
                }
            }
        }
        .area-subcontainer {
            @apply flex gap-[30px] justify-center text-center items-center w-full;
            .detail-subcontainer {
                @apply flex flex-col w-1/3;
                input {
                    @apply text-center w-full;
                    &.title {
                        @apply !text-4xl !font-bold !text-primary;
                    }
                }
                textarea {
                    @apply text-center w-full;
                    &.description {
                        @apply !text-sm !font-medium !text-neutral-600;
                    }
                }
            }
        }
    }
}
.admin-careers-jobs-section {
    @apply  flex flex-col justify-center items-center relative text-neutral-800 ;
    .background-container {
        @apply flex flex-col justify-center items-center bg-primary h-[150px] w-full relative;
        input {
            @apply text-center w-[80%];
            &.title {
                @apply !text-3xl !font-medium;
            }
        }
    }
    .select-container {
        @apply flex flex-col justify-center items-center absolute top-[110px];
        .card-select {
            @apply flex justify-center items-center gap-[10px] bg-white p-[20px] rounded-lg w-full h-[70px];
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            input {
                @apply text-center w-full;
                &.title {
                    @apply !text-3xl !font-medium;
                }
            }
        }
    }
}