@tailwind base;
@tailwind components;
@tailwind utilities;
.admin-about-us-strategy-section {
    @apply gap-[20px] flex flex-col justify-center items-center relative text-neutral-800;
    .strategy-container {
        @apply bg-white rounded-lg p-[20px] flex gap-[30px] w-full items-center;
        box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.1);

        .desc-subcontainer {
            @apply w-[60%] flex flex-col gap-[20px];
            .title {
                @apply text-3xl font-bold;
            }
            ul {
                @apply text-base flex flex-col gap-[10px];
                li {
                    @apply flex gap-[20px] text-base items-center;
                    input {
                        @apply w-full !text-[14px]/[18px];
                    }
                    span {
                        svg {
                            @apply w-[30px] h-[30px];
                        }
                    }
                    a {
                        &.btn-remove {
                            @apply h-[30px] w-[30px] bg-red-500 flex flex-col justify-center items-center cursor-pointer;
                            svg {
                                @apply h-[20px] w-[20px];
                                path {
                                    @apply fill-white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .image-subcontainer {
            @apply flex-1 relative;
            img {
                @apply w-[410px] h-[400px] object-contain;
            }
            &:hover {
                .img-overlay {
                    @apply opacity-100 visible;
                    visibility: visible;
                }
            }
            .img-overlay {
                @apply  bg-black rounded-lg opacity-0 h-full w-full absolute z-[2] top-0 left-0 invisible flex flex-col justify-center items-center; 
                transition: .3s linear;
                background: rgba(0, 0, 0, .7);
                label {
                    @apply w-[150px] h-[40px] bg-primary text-white flex flex-col justify-center cursor-pointer items-center rounded-sm;
                }
            }
        }
    }
}
.admin-about-us-area-section {
    @apply p-[20px] flex flex-col justify-center items-center relative text-neutral-800;
    background: url("/images/backgrounds/parallax-indonesian-map.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    &::before {
        content: '';
        @apply absolute bg-neutral-50 opacity-75 w-full h-full z-[2];
    }
    .area-container {
        @apply flex flex-col gap-[80px] items-center justify-center text-center z-[3];
        .title-subcontainer {
            @apply flex flex-col gap-[10px] items-center justify-center text-center;
            input {
                @apply text-center w-full;
                &.title {
                    @apply !text-3xl !font-medium;
                }
                &.subtitle-1 {
                    @apply !text-7xl !text-primary !font-bold !h-[70px];
                }
                &.subtitle-2 {
                    @apply !text-base !text-neutral-600;
                }
            }
        }
        .area-subcontainer {
            @apply flex gap-[30px] w-full justify-center text-center items-center;
            .detail-subcontainer {
                @apply flex flex-col w-[300px];
                input {
                    @apply text-center;
                    &.title {
                        @apply !text-4xl !font-bold !text-primary;
                    }
                }
                textarea {
                    @apply text-center;
                    &.description {
                        @apply !text-sm !font-medium !text-neutral-600;
                    }
                }
            }
        }
    }
}
.admin-about-us-history-section {
    @apply p-[20px] flex flex-col justify-center items-center relative text-neutral-800;
    .history-container {
        @apply flex flex-col gap-[30px] items-center text-center w-full;

       .title-container {
            @apply flex flex-col gap-[10px] w-full;
            input {
                @apply !w-full text-center;
                &.title {
                    @apply !text-3xl !font-bold;
                }
            }
            textarea {
                @apply text-center;
                &.subtitle {
                    @apply !text-base !text-neutral-600;
                }
            }
       }
        ul {
            @apply list-none flex flex-col gap-[20px] w-[70%];
            li {
                @apply flex flex-col justify-center items-center relative;
                .icon-step {
                    @apply flex flex-col items-center w-full;
                    svg {
                        @apply w-[50px] h-[50px] stroke-primary;
                    }
                    input {
                        @apply w-full text-center;
                        &.title {
                            @apply !text-base !font-semibold !text-primary;
                        }
                    }
                }
                .desc-step {
                    @apply flex flex-col gap-[10px] w-full;
                    input {
                        @apply w-full text-center;
                        &.subtitle {
                            @apply !text-base !font-semibold !text-primary;
                        }
                    }
                    textarea {
                        @apply w-full text-center;
                        &.description {
                            @apply !text-sm ;
                        }
                    }
                }
                a {
                    &.btn-remove {
                        @apply absolute top-[10px] w-[30px] h-[30px] right-0 bg-red-500 flex flex-col justify-center items-center cursor-pointer;
                        svg {
                            @apply h-[20px] w-[20px];
                            path {
                                @apply fill-white;
                            }
                        }
                    }
                }
            }
        }
    }
}
.admin-about-us-our-mission-section {
    @apply py-[70px] px-[100px] gap-[20px] flex flex-col justify-center items-center relative text-neutral-800;
    background: url("/images/backgrounds/parallax-2.png") no-repeat;
    background-position: center;
    &::before {
        content: '';
        @apply absolute bg-slate-900 opacity-85 w-full h-full z-[2];
    }
    .our-mission-container {
        @apply flex items-start w-full justify-center;
        .detail-subcontainer {
            @apply flex flex-col justify-center items-center text-center z-10 px-[20px];
            .icon-detail {
                svg {
                    @apply w-[100px] h-[100px];
                   
                }
                &.fill {
                    svg {
                      path {
                        @apply fill-white;
                      }
                    }
                }
                &.fill-bulp {
                    svg {
                      path {
                        @apply fill-white;
                      }
                    }
                }
                &.fill-stroke {
                    svg {
                        path {
                            @apply stroke-white;
                        }
                    }
                }
                &.stroke {
                    svg {
                        @apply stroke-white;
                    }
                }
            }
            .desc-detail {
                @apply flex flex-col gap-[10px] w-full;
                input {
                    @apply text-center text-3xl font-bold uppercase;
                }
                p {
                    @apply text-[13px]/[17px] text-slate-300;
                }
                ul {
                    @apply text-[13px]/[17px] flex flex-col gap-[5px];
                    li {
                        @apply flex items-center gap-[5px];
                        input {
                            @apply text-center !text-[12px]/[15px] w-full !h-[13px];
                        }

                        a {
                            &.btn-remove {
                                @apply h-[20px] w-[20px] bg-red-500 flex flex-col justify-center items-center cursor-pointer;
                                svg {
                                    @apply h-[15px] w-[15px];
                                    path {
                                        @apply fill-white;
                                    }
                                }
                            }
                        }
                    }

                }
                .desc-growup {
                    @apply flex gap-[30px];
                    .details-growup {
                        @apply flex text-left flex-wrap;
                        .detail-growup {
                            @apply w-1/2 mb-[10px] px-[2px];
                            input {
                                &.title {
                                    @apply !text-base !font-medium !text-left !h-[30px];
                                }
                                &.description {
                                    @apply text-center !text-[12px]/[15px] w-full !h-[13px];
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.admin-about-us-profile-section {
    @apply p-[20px] flex flex-col justify-center items-center relative text-neutral-800 ;
    .profile-container {
        @apply flex gap-[30px] items-center w-full;
        .image-subcontainer {
            @apply w-1/2 flex flex-col gap-[10px] relative;
            .top-subcontainer {
                @apply w-full relative;
                img {
                    @apply w-full h-[300px] object-cover;
                }
                &:hover {
                    .img-overlay {
                        @apply opacity-100 visible;
                        visibility: visible;
                    }
                }
                .img-overlay {
                    @apply  bg-black rounded-lg opacity-0 h-full w-full absolute z-[2] top-0 left-0 invisible flex flex-col justify-center items-center; 
                    transition: .3s linear;
                    background: rgba(0, 0, 0, .7);
                    label {
                        @apply w-[150px] h-[40px] bg-primary text-white flex flex-col justify-center cursor-pointer items-center rounded-sm;
                    }
                }
            }
            .middle-subcontainer {
                @apply absolute top-[43%] left-[38%] z-10;
                .experience-subcontainer {
                    @apply relative bg-white border-2 border-primary text-primary flex flex-col items-center text-center justify-center w-[150px] h-[150px];
                    input {
                        &.experience-number {
                            @apply !text-6xl !font-bold w-full h-[50px];
                        }
                        &.experience-text {
                            @apply !text-sm w-full;
                        }
                    }
                }
            }
            .bottom-subcontainer {
                @apply w-full flex gap-[10px];
                .bottom-sub-image {
                    @apply w-1/2 relative;
                    img {
                        @apply w-full h-[230px] object-cover;
                    }
                    &:hover {
                        .img-overlay {
                            @apply opacity-100 visible;
                            visibility: visible;
                        }
                    }
                    .img-overlay {
                        @apply  bg-black rounded-lg opacity-0 h-full w-full absolute z-[2] top-0 left-0 invisible flex flex-col justify-center items-center; 
                        transition: .3s linear;
                        background: rgba(0, 0, 0, .7);
                        label {
                            @apply w-[150px] h-[40px] bg-primary text-white flex flex-col justify-center cursor-pointer items-center rounded-sm;
                        }
                    }
                }
            }
        }
        .desc-subcontainer {
            @apply w-1/2 flex flex-col gap-[20px];
            .desc-title {
                @apply flex flex-col gap-[10px] w-full;   
                h1 {
                    @apply text-lg ;
                }
                input {
                    &.title {
                        @apply !text-lg w-full;
                    }
                }
                textarea {
                    &.subtitle {
                        @apply !text-3xl !font-medium h-[100px] max-h-[100px] w-full;
                    }
                }
            }
            .desc-content {
                @apply flex flex-col gap-[10px] w-full;
                textarea {
                    &.description {
                        @apply !text-sm !text-neutral-600 h-[130px] max-h-[130px] w-full;
                    }
                }
            }
            .desc-quote {
                @apply flex flex-col gap-[10px] w-full;
                textarea {
                    &.quote {
                        @apply underline italic border-l-2 border-l-primary pl-[10px] w-full;
                    }
                }
                .desc-founder {
                    @apply flex gap-[10px] items-center;
                    img {
                        @apply h-[50px] w-[50px] object-contain;
                    }
                    .text-founder {
                        p {
                            @apply text-base font-bold;
                        }
                        label {
                            @apply text-primary font-medium
                        }
                    }
                }
            }
        }
    }
   
}