@tailwind base;
@tailwind components;
@tailwind utilities;

.home-page {
    @apply py-[97px];
    .home-banner-section {
        @apply py-[80px] px-[100px] flex flex-col justify-center items-center relative text-neutral-800 ;
        background: radial-gradient(#f8fafc, #f1f5f9);

        .home-banner-container {
            @apply flex relative;
            .banner-desc-subcontainer {
                @apply w-1/2 flex flex-col justify-center gap-[20px];
                h1 {
                    @apply text-base;
                }
                h2 {
                    @apply text-[48px]/[52px] font-bold;
                }
                h5 {
                    @apply text-xl;
                }
                a {
                    @apply bg-primary text-white py-[10px] w-[200px] flex justify-center items-center rounded cursor-pointer hover:bg-blue-600;
                }
            }
            .banner-img-subcontainer {
                @apply relative w-1/2 flex flex-col justify-center;
                /* img {
                    &.inaglove-img {
                        @apply absolute top-0 right-0;
                    }
                } */
            }
        }
    }
    .home-our-products-section {
        @apply flex flex-col justify-center items-center py-[40px] px-[100px];
        .our-products-container {
            @apply flex flex-col justify-center text-neutral-950 gap-[20px];
            .our-products-title {
                @apply flex flex-col justify-center items-center text-center gap-[10px];
                h1 {
                    @apply text-3xl font-bold;
                }
                p {
                    @apply text-sm;
                }
            }
            .our-products-subcontainer {
                @apply flex flex-wrap justify-center;
                .our-product-wrapper {
                    @apply w-[330px] p-[5px];
                    .our-product-card {
                        @apply rounded-lg bg-white p-[4px] cursor-pointer relative;
                        box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.1);
                        img {
                            @apply rounded-lg;
                        }
                        &:hover {
                            .card-overlay {
                                @apply opacity-100 visible;
                                visibility: visible;
                            }
                        }
                        .card-overlay {
                            @apply  bg-black rounded-lg opacity-0 h-full w-full absolute z-[2] top-0 left-0 invisible flex flex-col justify-center items-center; 
                            transition: .3s linear;
                            background: rgba(0, 0, 0, .7);
                            h6 {
                                @apply text-lg font-bold text-white uppercase;
                            }
                            label {
                                @apply bg-primary px-[10px] py-[5px] text-white text-base font-medium;
                            }
                        }
                    }
                }
            }
        }
    }
    .home-business-unit-section {
        @apply text-white py-[40px] px-[100px] flex flex-col justify-center items-center relative;
        background: url("/images/backgrounds/background-1.png") no-repeat;
        &::before {
            content: '';
            @apply absolute bg-primary opacity-85 w-full h-full z-[2];
        }
        .business-unit-container {
            @apply flex flex-col gap-[20px] justify-center items-center text-center z-[2];
            .title-subcontainer {
                @apply flex flex-col gap-[10px];
                h1 {
                    @apply text-3xl font-bold;
                }
                p {
                    @apply text-sm;
                }
            }
            .business-unit-subcontainer {
                @apply flex justify-center gap-[80px];
                .business-unit {
                    @apply w-[450px] flex flex-col justify-center items-center text-center gap-[20px];
                    label {
                        @apply h-[80px] w-[80px] rounded-[50%] border-[3px] border-white flex flex-col justify-center text-lg font-bold;
                    }
                    .business-unit-desc {
                        @apply flex flex-col gap-[10px];
                        h5 {
                            @apply text-2xl font-semibold;
                        }
                        p {
                            @apply text-sm;
                        }
                    }
                }
            }
        }
    }
    .home-about-section {
        @apply flex py-[40px] px-[100px] gap-[80px] justify-center items-center;
        .about-description-container {
            @apply flex flex-1 flex-col justify-center items-start gap-[20px];
            h1 {
                @apply text-3xl text-neutral-950 font-bold;
            }
            h5 {
                @apply text-base text-neutral-950 font-medium;
            }
            p {
                @apply text-sm text-neutral-800;
            }
        }
        .about-image-container {
            @apply w-[455px] bg-white rounded-lg p-[8px];
            box-shadow: 0px 0px 32px -7px rgba(0, 0, 0, 0.1);
            img {
                @apply w-[455px] rounded-lg;
            }
        }
    }
}